In [1]:
import pandas as pd
import utils

In [2]:
print("Directory before change")
!ls

Directory before change
Inference.ipynb
__pycache__
model-training-1.ipynb
model_1.pkl
models
project-initialization.ipynb
sample_submission.csv
test.csv
train.csv
utils.py

In [3]:
!rm train.csv test.csv sample_submission.csv

In [4]:
print("Downloading Kaggle Competition Data")

!kaggle competitions download -c nlp-getting-started

Downloading Kaggle Competition Data
Downloading nlp-getting-started.zip to C:\Users\TBWoo\Documents\SCHOOL\DATA-3402\Exam\Final Project

  0%|          | 0.00/593k [00:00<?, ?B/s]
100%|##########| 593k/593k [00:00<00:00, 11.4MB/s]

In [5]:
!unzip nlp-getting-started.zip
!rm nlp-getting-started.zip

Archive:  nlp-getting-started.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [6]:
print("Directory after change")
!ls

Directory after change
Inference.ipynb
__pycache__
model-training-1.ipynb
model_1.pkl
models
project-initialization.ipynb
sample_submission.csv
test.csv
train.csv
utils.py

In [7]:
TRAIN_DATA = "train.csv"
TEST_DATA = "test.csv"
SUBMISSION = "sample_submission.csv"

In [8]:
train_df = pd.read_csv(TRAIN_DATA)
test_df = pd.read_csv(TEST_DATA)
sub_df = pd.read_csv(SUBMISSION)

In [9]:
display(train_df.head())

TEXT = "text"
TARGET = "target"
    
train_df = train_df[[TEXT, TARGET]]


print("Check for any NaN's in data set")
display(train_df.isna().sum())

print("Clean up @'s and #'s")

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

Check for any NaN's in data set

text      0
target    0
dtype: int64

Clean up @'s and #'s

In [33]:
train_df[TEXT] = train_df[TEXT].map(lambda x: utils.tweet_cleaning(x)) # tweet_cleaning from utils.py


print("clean up tweet data using predefined tweet_cleaning function in utils.py")
display(train_df)

clean up tweet data using predefined tweet_cleaning function in utils.py

                                                   text  target
0     Our Deeds are the Reason of this earthquake Ma...       1
1                Forest fire near La Ronge Sask. Canada       1
2     All residents asked to 'shelter in place' are ...       1
3     13,000 people receive wildfires evacuation ord...       1
4     Just got sent this photo from Ruby Alaska as s...       1
...                                                 ...     ...
7608  Two giant cranes holding a bridge collapse int...       1
7609  _ahrary  The out of control wild fires in Cali...       1
7610        M1.94 [01:04 UTC]?5km S of Volcano Hawaii.        1
7611  Police investigating after an e-bike collided ...       1
7612  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 2 columns]

In [29]:
test_df = test_df[[TEXT]]


print("Repeat data cleaning with test_df")
    
print("Check for any NaN's in data set")
display(test_df.isna().sum())

print("Clean up @'s and #'s")

Repeat data cleaning with test_df
Check for any NaN's in data set

text    0
dtype: int64

Clean up @'s and #'s

In [32]:
test_df[TEXT] = test_df[TEXT].map(lambda x: utils.tweet_cleaning(x)) # tweet_cleaning from utils.py

print("clean up tweet data using predefined tweet_cleaning function in utils.py")
display(test_df)

clean up tweet data using predefined tweet_cleaning function in utils.py

                                                   text
0                    Just happened a terrible car crash
1     Heard about earthquake is different cities, st...
2     there is a forest fire at spot pond, geese are...
3                Apocalypse lighting. Spokane wildfires
4         Typhoon Soudelor kills 28 in China and Taiwan
...                                                 ...
3258  EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259  Storm in RI worse than last hurricane. My city...
3260                  Green Line derailment in Chicago
3261        MEG issues Hazardous Weather Outlook (HWO)
3262  CityofCalgary has activated its Municipal Emer...

[3263 rows x 1 columns]